.btn {
  height: 43px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  border: none;
  span {
    display: block;
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    margin: 10px;
    @media screen and (max-width: 991px) {
      font-size: 12px;
    }
    &.icon {
      margin-right: 15px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &.btn_blue {
    background: #2d9cdb;
  }

  &.btn_red {
    background: #e86161;
  }

  &.btn_green {
    background: #8ec63f;
  }

  &.btn_white {
    background: $white;
    border: 2px solid $blue;
    span {
      color: $black;
    }
  }
}
