//font styles

//color styles
$blue: #0f6bf5;
$green: #3dba3b;
$yellow: #f8ac1a;
$red: #de1220;
$white: #ffffff;
$black: #333333;
$light-gray: #F1F8FC;
$light-blue: #D5E9FC;
$text: #5B6067;
$stroke: #7B95A7;
$tr: rgba(0, 0, 0, 0);